# ==========================================================
# 🔹 Node.js
# ==========================================================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# ==========================================================
# 🔹 Variables de entorno
# ==========================================================
.env
backend/.env
frontend-react/.env

# ==========================================================
# 🔹 Compilaciones y builds
# ==========================================================
dist/
build/
frontend-react/dist/
frontend-react/build/

# ==========================================================
# 🔹 Archivos del sistema (Windows / macOS)
# ==========================================================
.DS_Store
Thumbs.db
desktop.ini

# ==========================================================
# 🔹 Archivos del editor
# ==========================================================
.vscode/
.idea/
*.swp

# ==========================================================
# 🔹 Otros
# ==========================================================
coverage/
*.log
